/*------------------------------------*\

    # Card Answers

*------------------------------------*/


$susy: (
  columns: 12,
  gutters: 0,
  container: 100%,
  debug: (image: show)

);

.card-answers {
    @include container(100%);
    height: 40%;
    width: 100%;
    display: flex;
}

/*------------------------------------*\
    # Card-answer
*------------------------------------*/
.card-answer {
    &__item {
       @extend %flex-center-center;
       @include span(6 of 12);
       background: #f7f7f7;
       margin: 0;
       margin-right: 0;
    }

}


