/*------------------------------------*\

    # Modal

*------------------------------------*/

.modal {
    // Animation
    $animation-duration: .2s;

    // Color
    $btn-color: $waterblur;
    $btn-color-link: $white;
    $btn-color-hover: $waterblur;
    $btn-hover-opacity: 0.9;

    // typography
    $font-text-bold: 600;
    $btn-font-size: 14px;

    position: fixed;
    top: 0; left: 0;
    @extend %flex-center-center;
    height: 100%;
    width: 100%;
    z-index: 10;

    // hide modal
    opacity: 0;
    visibility: hidden;
    transition: opacity $animation-duration, visibility $animation-duration;

    &__background {
        position: absolute;
        z-index: 2;
        top: 0; left: 0; right: 0; bottom: 0;
        transition: transform .3s;
        background: blanchedalmond;
    }
    // modal button trigger styling
    &__btn {
        @extend %flex-center-center;
        text-transform: uppercase;
        width: 100%;
        height: 45px;
        max-width: 150px;
        background: $btn-color;
        font-weight: $font-text-bold;
        font-size: $btn-font-size;
        color: $btn-color-link;
        transition: opacity $animation-duration;
        &:hover {
            background: $btn-color-hover;
            opacity: $btn-hover-opacity;
        }
    }
    // modal button close styling
    &__btn-close {
        position: absolute;
        z-index: 11;
        top: 0; right: -50px;
        height: 50px;
        width: 50px;
        background: $btn-color;
        transition: opacity $animation-duration;
        color: $btn-color-link;
        font-size: 20px;
        &:hover {
            background: $btn-color-hover;
            opacity: $btn-hover-opacity;
        }
    }
    // show the modal window
    &.is--visible {
        opacity: 1;
        visibility: visible;
    }
}


