/*------------------------------------*\

    # Quiz-question

*------------------------------------*/

.quiz-question {
    // color
    $heading-color: $mattpurple;

    &__inner {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 100%;
        height: 125%;
        @include media('<=540px'){
            height: 60%;
        }
    }
    &__display-prepare {
        @extend .quiz-question__inner;
        justify-content: center;
        align-items: center;
        font-size: 50px;
    }
    &__display {
        @extend %flex-center-center;
        flex: 4;
        color: $heading-color;
        @include media('<=540px'){
            padding: 10px;
        }
    }
}
