---
custom_script: /scripts/apply.js
---

<section class="start__wrapper">
    <div class="wrapper__background--img" style="background-image: url('https://hd.unsplash.com/photo-1464245254346-067e4f8baaf2')"></div>
    <div class="apply-panel">
        <div class="apply-panel__header">
            <h1>Logo</h1>
            <div class="apply-panel__description">
                <p>Playfull coding quiz game</p>
            </div>
        </div>
        <div class="apply-panel__footer">
            <a href="#modal-apply" class="btn__apply modal--open">Lets play!</a>
        </div>
    </div> <!-- .apply__panel -->
</section> <!-- .apply__wrapper -->


<section id="#modal-apply" class="modal">
    <div class="modal__background"></div>
    <button class="modal--close">Close</button>

    <div class="apply-panel">
        <div class="apply-panel__header">
            <img src="" alt="">
            <div class="apply-panel__description">
                <h1>Pick your <br>favorite name</h1>
            </div>
             <div class="apply-placeholder__name">
                <input type="text">
                <button id="btn__save" class="btn__save">enter</button>
            </div>
        </div>
    </div> <!-- .apply__panel -->
</section> <!-- .apply__wrapper -->


<section class="quiz-play__wrapper">
    <div class="quiz-question__inner">
        <div class="quiz-question__display-timer">
           <span> 10 </span> sec
        </div>
        <div class="quiz-question__display">
            <h1>What is html?</h1>
        </div>
    </div>

    <div class="card-answers">
        <div class="card-answer__item">
            <a id="card-answer--a" href=""></a>
            <p class="card-answer--a"> A. tags</p>
        </div> <!-- .card-answer__item -->
        <div class="card-answer__item">
            <a id="card-answer--b" href=""></a>
            <p class="card-answer--b"> B. tags</p>
        </div> <!-- .card-answer__item -->
    </div> <!-- .card-answers -->

    <div class="card-answers">
      <div class="card-answer__item">
            <a id="card-answer--c" href=""></a>
            <p class="card-answer--c"> C. tags</p>
        </div> <!-- .card-answer__item -->
        <div class="card-answer__item">
            <a id="card-answer--d" href=""></a>
            <p class="card-answer--d"> D. hyperlink text markup language</p>
        </div> <!-- .card-answer__item -->
    </div>
</section> <!-- .apply__wrapper -->



